.button{
    display: table;
    margin-left: auto;
    margin-right: auto;
    background:#82CA9C;
    color:#fff;
    border:none;
    position:relative;
    height:30px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  .button:hover{
    background:#f4f4f4;
    color:#1AAB8A;
  }
  .button:before,.button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }
  .button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  